# Intellij
*.iml
.idea

# npm
node_modules

# build output
dist

# test-vault's metadata
test-vault/.obsidian/*
!test-vault/.obsidian/community-plugins.json
!test-vault/.obsidian/plugins

test-vault/.obsidian/plugins/*
!test-vault/.obsidian/plugins/hot-reload

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
